@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Special Gothic Expanded One', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  flex-wrap: wrap;
}

.logo img {
  width: 90px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #007bff;
  transform: scale(1.05);
}

.login {
  padding: 8px 16px;
  border: 1px solid #007bff;
  background-color: transparent;
  color: #007bff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}





body {
  background-color: #fff;
  font-family: Tahoma;
  text-align: center;
  color: #002244;
}

.container {
  margin-top: 50px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

button {
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
